# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
local.properties
.DS_Store

# Build files
/build/
.cxx/
.externalNativeBuild/
captures/
*.apk
*.aab
output.json

# Jetpack Compose
.compose-cache/
.kotlinc/

# Crashlytics, logs, lint
crashlytics/
*.log
*.snap
*.lock
lint/reports/
hs_err_pid*
replay_pid*


# Kotlin/Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
gradle-app.setting
gradle.lockfile

# Other IDE junk
*.ctxt
.mtj.tmp/
